<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../css/TemplateEstilo.css">
        <link rel="stylesheet" type="text/css" href="../css/menuInicial.css">
        <script language="JavaScript" src="../../Controller/MenuJogoController.js"></script>

        <title>Soletrar acessível!</title>
    </head>
    <body>
        <div class="quadro">

            <div class="ImgAudio" >
                <img alt="Configuraçao de Gerais" src="../../Imagens/config.png" width="50em" onclick="configuracao()" tabindex="2"> <img alt="Configuraçao de audio" src="../../Imagens/Som.png" width="50em" onclick="configuracao()" tabindex="3"></div>
            <div>
                <form>
                    
                    <div class="titulo" tabindex="1">Dificuldade</div>
                    
                    <button class="button" tabindex="4" >Facil</button>
                    <button class="button marginFinal" tabindex="5">Normal</button>
                    <button class="button marginFinal" tabindex="6">Dificil</button>
                </form>
            </div>


        </div>
    </body>
</html>