<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../css/TemplateEstilo.css">
        <link rel="stylesheet" type="text/css" href="../css/CssResponsivo.css">
        <script language="JavaScript" src="../../Controller/MenuIncialController.js"></script>

        <title>Soletrar acessível!</title>
    </head>
    <body>
            <div class="container">
                
                <div class="ImgAudio" tabindex="2"> <img alt="Configuraçao de audio" src="../../Imagens/Som.png" width="50em"></div>
                <div class="titulo" tabindex="1">Jogo Soletrar Acessivel</div>
                <button class="button" tabindex="3" onclick="iniciarJogo()">Iniciar Jogo</button>
                <button class="button marginFinal" tabindex="4">Instruções</button>
            </div>
    </body>
</html>